body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #07070a;
  font-family: 'system-ui', sans-serif;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@supports (-ms-overflow-style: none) {
  body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

main {
  width: 100%;
}

.navBar {
  width: 100%;
  height: 100px;
  background-color: hsl(0deg 0% 95.29%);
  border: 2px solid red;
  position: absolute;
  margin-bottom: 2%;
}

.lineChart {
  box-sizing: border-box;
  width: 50%;
  height: 50vh;
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 70px auto;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: hsl(48.62deg 82.95% 61.37%);
  display: flex;
  align-items: center;
  padding: 0 2%;
  z-index: 1;
  height: 70px;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 1%;
  }
}

@media (max-width: 768px) {
  .header {
    width: 96%;
  }

  .drop-button-container .MuiIconButton-root {
    margin-right: 0;
    margin-bottom: 1px;
    font-size: 16px;
  }

  .drop-button-container .MuiIconButton-root:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  
  .header {
    height: 60px;
    width: 85%;
  }
  .Typography{
     margin-top: 300%;
  }

  .drop-button-container {
    align-items: center;
  }

  .drop-button-container .MuiIconButton-root {
    font-size: 14px;
  }
}

.IconSize {
  font-size: 24px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  background: linear-gradient(131deg, rgba(10, 27, 87, 1) 63%, rgb(15 46 109 / 99%) 83%);
  color: #fff;
  height: 100vh;
  transition: width 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.sidebar.open {
  width: 222px;
}

.sidebar.closed {
  width: 50px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 35px 15px;
}

.logo {
  font-size: 30px;
  margin-left: 14%;
  padding-right: 15px;
}

.logo.hide {
  display: none;
}

.logo.show {
  display: block;
}

.bars {
  display: flex;
  font-size: 25px;
  cursor: pointer;
}

.menu_section {
  margin-top: 20px;
  overflow-y: auto;
  height: calc(100vh - 296px);
}

.menu_section::-webkit-scrollbar {
  width: 8px;
}

.menu_section::-webkit-scrollbar-track {
  background: hsl(227, 79%, 17%);
  border-radius: 10px;
}

.menu_section::-webkit-scrollbar-thumb {
  background-color: #fdf8f8;
  border-radius: 10px;
  border: 3px solid hsl(227, 79%, 17%);
}

.menu_section::-webkit-scrollbar-thumb:hover {
  background: #d4d3d3;
}

@supports (-ms-overflow-style: none) {
  .menu_section {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.link {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 18px 9px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: rgb(246, 247, 248);
  color: #000;
}

.active {
  background: rgb(252, 252, 252);
  color: #000;
}

.icon {
  font-size: 20px;
  margin-left: 15%;
}

.link_text {
  font-size: 16px;
}

.link_text.hide {
  display: none;
}

.link_text.show {
  display: block;
}

.footer_section {
  background: linear-gradient(131deg, rgba(10, 27, 87, 1) 63%, rgb(15 46 109 / 99%) 83%);
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.footer_section .link {
  margin-bottom: 10px;
}

@media screen and (min-width:420px) {
  
}
/* @media screen and (max-width:420px) {
  .sidebar {
    background-color: #ee0a0a;
  }
} */